* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 500px;
}
button {
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
button:active {
  background-color: rgb(165, 165, 165);
}
